@media (max-width: 768px) {
    .container,
    .header-content {
        flex-direction: column;
        align-items: center;
        width: 90%;
        text-align: center;
    }

    .header h1,
    .header nav a {
        font-size: 1em;
    }

    .header nav a,
    .header-submenu a {
        padding: 6px 12px;
    }

    .header-submenu {
        flex-wrap: wrap;
        gap: 10px;
    }

    .search-bar {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 0.8em;
    }

    .header-submenu a {
        font-size: 0.8em;
        padding: 6px 10px;
    }

    .login-section h2,
    .signup-section h2 {
        font-size: 1.5em;
    }
}

/* Estilos de mensagens de erro e sucesso */
#error-message {
    color: var(--error-color);
    font-weight: bold;
    margin-top: 1px;
}

.success-message {
    color: var(--confirmation-color);
    font-weight: bold;
    margin-top: 10px;
}
