body {
    font-family: Arial, sans-serif;
    color: var(--highlight-color);
}

h1, h2, h3 {
    color: var(--text-color-dark);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.8em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--hover-text-color);
    text-decoration: underline;
}

.reset-password-instruction,
.info-text {
    color: var(--text-color-dark);
}