

.header h1 {
    font-size: 1.5rem;
    color: var(--highlight-color);
}


/* Seções internas */
.login-section,
.signup-section {
    padding: 10px 40px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.forgot-password{
    padding: 10px 40px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-section h2,
.signup-section h2,
.forgot-password h2 {
    font-size: 1.8em;
    color: var(--text-color-dark);
    margin-top: 3%;

}

.welcome-section h2{
    font-size: 1.8em;
    color: var(--text-color-dark);
}

.welcome-section{
    padding: 0px 40px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--highlight-color);
    gap:20px;
}

.reset-password-instruction,
.info-text {
    color: var(--text-color-dark);
}

.forgot-password form input[type="email"] {
    margin-bottom: 30px; 
}

.forgot-password form .submit-btn {
    margin-top: 22px; 
}

.reset-password-instruction {
    margin-bottom: 15px;
    margin-top: 30px;
}

.back-to-login{
    padding: 2px 2px;
}



/* Social login */
.social-signup,
.social-login {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


/* Link de recuperação de senha */
.forgot-password a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: var(--hover-text-color);
    text-decoration: underline;
}
