.forgot-password {
    padding: 10px 40px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.forgot-password h2 {
    font-size: 1.8em;
    color: var(--text-color-dark);
    margin-top: 3%;

}

.reset-password-instruction {
    margin-bottom: 15px;
    margin-top: 30px;
}

.forgot-password form input[type="email"] {
    margin-bottom: 30px;
}

.forgot-password form .submit-btn {
    margin-top: 22px;
}

.forgot-password a:hover {
    color: var(--hover-text-color);
    text-decoration: underline;
}

.back-to-login {
    padding: 2px 2px;
}
