button,
.submit-btn {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover,
.submit-btn:hover {
    background-color: var(--hover-text-color);
}

.forgot-password-btn {
    padding: 10px;
    background-color: transparent;
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.forgot-password-btn:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.social-btn {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50%;
}

.social-btn:hover {
    background-color: var(--hover-text-color);
}
