.header {
    background-color: var(--header-footer-color);
    color: var(--button-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 13px;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.header .logo img {
    width: 60px;
    height: 60px;
    margin: 0px 10px;
}

.header-icons,
.header nav {
    display: flex;
    gap: 15px;
    padding: 0px 10px;
}

.header-icons a,
.header nav a {
    color: var(--highlight-color);
    text-decoration: none;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.header-icons a:hover,
.header nav a:hover {
    color: var(--hover-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.header-submenu {
    display: flex;
    justify-content: space-between;
    background-color: var(--submenu-bg-color);
    width: 100%;
    padding: 12px 60px;
    gap: 15px;
}

.header-submenu a {
    font-weight: bold;
    color: var(--highlight-color);
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s, background-color 0.3s;
}

.header-submenu a:hover {
    color: var(--hover-text-color);
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--box-shadow-color);
    overflow: hidden;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--input-text-color);
    background-color: var(--input-background);
}

.search-bar button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: var(--hover-text-color);
}
